
body {
  background-color: #1A1A1A;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: "doto", sans-serif;
  color: white;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}
